<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Lista de Tarefas Digital</h1>
    <div class="conteudo"> 
        <div class="lado-esquerdo">
            <img src="/static/img/img.jpg" alt="folha de tarefas">
        </div>
        <div class="lado-direito">
            <a class="botao" href="/login">Já tenho uma conta</a>

            <a class="botao" href="/cadastro">Não tenho uma conta</a>
        </div> 
    </div>
</body>
</html>