<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Lista</h1>
    <div class="formulario_lista">
        <form action="/criar_tarefa" method="POST">
            <input type="text" id="conteudo"
            name="conteudo" placeholder="O que precisa ser feito?" required>
            <button type="submit" class="add">+</button>
        </form>
    </div>
    {% for tarefa in tarefas %}
        
        <label class="checkbox">
            <div>
            <input type="checkbox" {{ "checked" if tarefa[2] else ""}}
            onclick="window.location.href='/tarefas/atualizar/{{ tarefa[0] }}'">
            {{ tarefa[1] }}
            <button type="submit" class="deletar" onclick="window.location.href='/tarefas/excluir/{{ tarefa[0] }}'"> X </button>
            </div>
        </label>
        <hr>
    {% endfor %}
</body>
</html>